.fibonacciComponent {
  font-family: helvetica; 
}
.grid-container {
  border-spacing: 1px;
}

.cellData {
  min-width: 22px;
  height: 22px;
  background-color: rgb(236, 230, 230);
  border: 0.5px solid gray;
  padding: 1px;
  font-size: 80%; 
  text-align: center
}

@keyframes yellow {
  from {
    background-color: rgb(236, 230, 230);
    font-size: 80%;
  }
  to {
    background-color: #ffcc00;
    font-size: 100%;
  }
}    

@keyframes green {
  from {
    background-color: rgb(236, 230, 230);
    font-size: 80%;
  }
  to {
    background-color: #0bc452;
    font-size: 130%;
  }
}    